body
{
font-size:100%;
font-family:verdana,arial;
background-color:#FFFFFF;
border-color:#01538B;
color:#FFFFFF;
margin: 20;
padding: 0;
}

p { font-size:100%;color:#01538B }
h1 {font-size:200%;color:#01538B}
h2 {font-size:140%;color:#01538B}
h3 {font-size:100%;color:#01538B}

th {background-color:#005390;color:01538B}

ul {list-style:circle;}

table
{
    border-color: #39F;
    border-width: 0 0 1px 1px;
    border-style: solid;
}

td
{
    border-color: #39F;
    border-width: 1px 1px 0 0;
    border-style: solid;
    margin: 0;
    padding: 4px;
    background-color: #FFF;
    font-size:100%;color:#999999;
}

th
{
    border-color: #39F;
    border-width: 1px 1px 0 0;
    border-style: solid;
    margin: 0;
    padding: 4px;
    background-color: #FFF;
    font-size:100%;color:#01538B;
}

a:link {color:#6666CC;}
a:hover {color:#660033;}
a:visited {color:#660066;}
